<%= image_tag('noname.jpg', class: 'heli') %>
<div class='title'>
  <h1 class='primary'>Nebraska Swoop</h1>
  <h2 class='secondary'>JayHop Helicopters</h2>
  <h3 class='pilot'>Matthew Jones (Chief Pilot)</h3>
</div>
