<span data-0='opacity:1;'
      data-1000='opacity:0;'
      >
  <%= image_tag('noname.jpg', class: 'heli') %>
</span>

<div id='menu'>
  <ul>
    <li><%= link_to 'Schedule', root_path %></li>
    <li><%= link_to 'Contact', contacts_path %></li>
    <li><%= link_to 'Rides', rides_path %></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class='title'
     >
  <h1 class='primary'
      data-0='left:-50px;'
      data-1000='left:-850px '
      >Nebraska Swoop</h1>
  <div class='sub'>
    <h2 class='secondary'>JayHop Helicopters</h2>
    <h3 class='pilot'>Matthew Jones (Chief Pilot)</h3>
  </div>
</div>

